/* .custom-btn button {
  padding: 15px 55px;
  color: #fff;
  font-weight: 700;
  border: none;
  background: #7da640;
  transition: 0.3s;
  clip-path: polygon(
    0% 0%,
    calc(100% - 18px) 0%,
    100% 18px,
    100% 100%,
    18px 100%,
    0% calc(100% - 18px)
  );
}
.custom-btn button:hover {
  clip-path: polygon(
    18px 0,
    100% 0,
    100% calc(100% - 18px),
    calc(100% - 18px) 100%,
    0 100%,
    0 18px
  );
  transition: 0.3s;
} */

.custom-btn button {
  height: 56px;
  line-height: 56px;
  padding: 0 50px;
  overflow: hidden;
  position: relative;
  border: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  /* -webkit-transform: perspective(1px) translateZ(0); */
  transform: perspective(1px) translateZ(0);
  border-radius: 50px;
  background: #7da640;
  color: #fff;
}
.custom-btn button:hover {
  background: #7da640;
  color: #fff;
}
