.register-area {
  background: #f3f3f3;
}
.register-content button {
  background: #ff7f00;
  border: none;
  border-radius: 0;
  width: 100%;
  margin: 10px 0;
}
.register-content h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}
.register-content label {
  font-weight: 600;
}
.register-content {
  padding: 50px;
  border: 1px solid #ff7f00;
  margin: 40px 0;
}
.photo img {
  height: 50px;
  width: 50px;
  /* border: 50px; */
  position: absolute;
  top: 2%;
  right: 19%;
  border-radius: 50%;
}
