.section-subtitle {
  font-size: 22px;
  font-family: "Miniver", cursive;
  color: #dba632;
}
.section-title {
  font-size: 60px;
  font-weight: 700;
}
.section-text {
  font-size: 18px;
  color: #2d2d2d;
  line-height: 1.6;
}
/* ----------------- RESPONSIVE starts ----------- */
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
  .section-title {
    font-size: 52px;
  }
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
  .section-title {
    font-size: 46px;
  }
}
/*SM Device*/
@media (min-width: 576px) and (max-width: 767px) {
  .section-title {
    font-size: 40px;
  }
}
/* Mobile device */
@media (max-width: 575px) {
  .section-title {
    font-size: 36px;
  }
}
