.section-subtitle {
  font-size: 22px;
  font-family: "Miniver", cursive;
  color: #dba632;
}
.section-title {
  font-size: 60px;
  font-weight: 700;
}
.section-text {
  font-size: 18px;
  color: #2d2d2d;
  line-height: 1.6;
}
