.introduction-area {
  padding: 80px 0;
}
.introduction-area .container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 20px;
  align-items: center;
}
.intro-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.intro-features ul li {
  font-size: 18px;
  margin-bottom: 10px;
}
.intro-features svg {
  font-size: 10px;
  margin: 0 5px 4px 0;
  color: #ffb500;
}
.intro-right {
  position: relative;
}
.intro-right-img2 {
  position: absolute;
  right: 0;
  bottom: -19%;
  overflow: hidden;
}
.intro-right-img2 img {
  animation: zoom 30s infinite ease-in-out;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* ----------------- RESPONSIVE starts ----------- */
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
  .introduction-area .container {
    grid-template-columns: 52% 48%;
  }
  .intro-features ul li {
    font-size: 15px;
  }
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
  .introduction-area .container {
    grid-template-columns: 100%;
  }
  .intro-features ul li {
    font-size: 15px;
  }
  .intro-right {
    text-align: center;
  }
  .intro-right-img2 {
    right: 13%;
    bottom: -12%;
  }
  .intro-right img {
    height: 400px;
  }
}
/*SM Device*/
@media (min-width: 576px) and (max-width: 767px) {
  .introduction-area .container {
    grid-template-columns: 100%;
  }
  .intro-features ul li {
    font-size: 15px;
  }
  .intro-right {
    display: none;
  }
}
/* Mobile device */
@media (max-width: 575px) {
  .introduction-area .container {
    grid-template-columns: 100%;
  }
  .intro-features ul li {
    font-size: 15px;
  }
  .intro-right {
    display: none;
  }
  .intro-features {
    grid-template-columns: repeat(2, 1fr);
  }
}
