.partners-area {
  text-align: center;
  padding: 40px 0;
  background-image: url(../../assets/brand/brandBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.partners-area .swiper {
  padding: 30px 0;
}
.partners-area .swiper-pagination-bullet {
  border-radius: 50% !important;
  height: 8px !important;
  width: 8px !important;
}
.partners-area .swiper-pagination-bullet-active {
  height: 10px !important;
  width: 10px !important;
  background: #dba632 !important;
}
/* ----------------- RESPONSIVE starts ----------- */
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
}
/*SM Device*/
@media (min-width: 576px) and (max-width: 767px) {
  .partners-area .swiper-slide img {
    width: 100%;
  }
}
/* Mobile device */
@media (max-width: 575px) {
  .partners-area .swiper-slide img {
    width: 100%;
  }
}
