.shef-area {
  background: #fafafa;
  padding: 50px 0;
}
.all-chefs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.single-chef img {
  height: 310px;
}
.single-chef {
  padding: 20px 0;
}
.single-chef .card {
  border-radius: 10px;
}
.single-chef p span {
  font-weight: 600;
}
.single-chef p {
  margin-bottom: 8px;
}
.shef-area h3 {
  font-size: 48px;
  font-weight: 700;
  color: #131313;
  text-align: center;
}
.card-title.h5 {
  font-weight: 600;
  /* color: #ff7f00; */
}
.view-recipe-btn button {
  background: #7da640;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  margin-top: 10px;
  padding: 10px 20px;
}
.view-recipe-btn {
  display: flex;
  justify-content: center;
}
.card-body {
  padding: 30px 20px;
}

@media only screen and (max-width: 576px) {
  .shef-area h3 {
    font-size: 32px;
  }
  .all-chefs {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .shef-area {
    text-align: center;
  }
}
