.site-logo {
  height: 80px;
}
.justify-content-center.navbar-nav a.active {
  color: #ffb500;
}
.header-area {
  background: transparent;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
}
.login-btn {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-nav a {
  color: #fff;
  padding: 0 10px;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  transition: 0.3s;
  letter-spacing: 2px;
}
.navbar-nav a::before,
.navbar-nav a::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 0%;
  background: #ffb500;
  bottom: 30px;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}
.navbar-nav a::after {
  bottom: -9px;
  transition: 0.7s;
}
.navbar-nav a:hover::before,
.navbar-nav a:hover::after {
  width: 100%;
}
