.breadcrumb-area {
  background-image: url(../../assets/breadcrumb/bg-img.png);
  background-repeat: no-repeat;
  background-position: right;
  background-color: #021d2a;
  padding: 140px 0;
  text-align: center;
}
.breadcrumb-area::before {
  position: absolute;
  content: "";
  width: 100%;
  background: url(/src/assets/breadcrumb/bg-img3.png);
  top: 10%;
  left: 0;
  height: 200px;
  background-repeat: no-repeat;
}
.bre-page-title {
  font-size: 56px;
  text-transform: uppercase;
  color: #fff;
}
.breadcrumbs ul li a {
  text-decoration: none;
  color: #fff;
}
.breadcrumbs ul li {
  color: #fff;
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}
.breadcrumbs .active {
  font-weight: 600;
  color: #ffb500;
}
.breadcrumbs ul li:hover a {
  color: #ce2829;
  transition: 0.4s;
}
.active svg {
  color: #fff;
  margin-right: 5px;
}

/* ----------------- RESPONSIVE starts ----------- */
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
  .bre-page-title {
    font-size: 48px;
  }
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
  .bre-page-title {
    font-size: 36px;
  }
  .breadcrumb-area {
    background-image: unset;
    padding: 80px 0;
  }
  .breadcrumb-area::before {
    background: unset;
  }
}
/*SM Device*/
@media (min-width: 576px) and (max-width: 767px) {
  .bre-page-title {
    font-size: 28px;
  }
  .breadcrumb-area {
    background-image: unset;
    padding: 80px 0;
  }
  .breadcrumb-area::before {
    background: unset;
  }
}
/* Mobile device */
@media (max-width: 575px) {
  .bre-page-title {
    font-size: 24px;
  }
  .breadcrumb-area {
    background-image: unset;
    padding: 80px 0;
  }
  .breadcrumb-area::before {
    background: unset;
  }
}
