.header-area {
  background: #131313;
}
.header-area a {
  color: #c6c3bf;
  font-size: 18px;
  text-decoration: navajowhite;
}
.navbar-nav a {
  padding: 0;
  margin: 0 10px;
}

/* 
.header-area {
  background: #f9f9ff;
  padding: 30px 0;
  display: flex;
  justify-content: b;
  justify-content: between;
  justify-content: space-around;
  align-items: center;
}
.header-area a {
  text-decoration: none;
  color: #757575;
}
.header-logo a {
  color: #1a1919;
}
.header-logo h3 {
  font-size: 32px;
  font-weight: 700;
}
.header-container a {
  color: #000;
  text-decoration: none;
}
.header-apply-btn {
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  border-radius: 8px;
  padding: 6px 20px 10px 20px;
}
.header-apply-btn a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.header-apply-btn a {
  color: #fff;
}
.menu-items li {
  list-style: none;
  margin: 0px 13px;
}
.menu-items li a.active {
  color: #907cff;
}
@media only screen and (max-width: 576px) {
  .header-area {
    flex-direction: column;
  }
} */

@media only screen and (max-width: 576px) {
  .navbar-toggler.collapsed {
    background: #fff;
  }
  .navbar-toggler {
    background: #fff;
  }
  #responsive-navbar-nav {
    text-align: center;
  }
}
