.single-chef-details {
  padding: 50px 0;
}
.single-chef-details img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}
.single-chef-details h4 {
  font-weight: 600;
}
.single-chef-details span {
  font-weight: 600;
}
.single-chef-details p {
  margin-bottom: 9px;
}
.details-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.all-recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px 0 35px 0;
}
.single-recipe .card-header {
  font-weight: 700;
}
.single-recipe span {
  font-weight: 600;
}
.special-recipes h3 {
  text-align: center;
  margin-bottom: 25px;
}
.single-recipe img {
  height: 350px;
}
p.bio {
  text-align: justify;
}
.fevorite-btn {
  background: #ff7f00;
  border: navajowhite;
  border-radius: 0;
  font-weight: 600;
  margin-top: 10px;
  padding: 8px 15px;
  color: #fff;
}
.fevorite-btn:hover {
  background: #0b5ed7;
}
