.service-area {
  position: relative;
  height: 860px;
}

.service-text {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.service-text h3 {
  font-size: 48px;
  font-weight: 700;
  color: #f6f6f6;
}
.service-text p {
  color: #b7b7b7;
  font-size: 18px;
  /* margin-bottom: 8px; */
  /* margin-right: 256px; */
}
.process li {
  color: #b7b7b7;
}
.process h5 {
  color: #ff7f00;
  font-weight: 600;
}
.service-text button {
  background: transparent;
  border: 2px solid #ff7f00;
  border-radius: 30px;
  font-weight: 600;
  margin-top: 10px;
  padding: 12px 0px;
  width: 200px;
  color: #ff7f00;
  font-weight: 700;
}
.service-text button:hover {
  background: #ff7f00;
  color: #fff;
}
.service-para {
  margin: 20px 0;
}
.service-para p {
  margin-bottom: 5px;
}

@media only screen and (max-width: 576px) {
  .service-text h3 {
    font-size: 32px;
  }
}
