.testimonial-area {
  padding: 80px 0;
  background: #002b40;
}
.testimonial-area .section-title {
  color: #fff;
  font-size: 48px;
}
.testimonial-content {
  /* display: grid; */
  /* grid-template-columns: repeat(2,1fr); */
  display: flex;
  width: 100%;
  align-items: center;
}
.single-testimonial {
  border: 1px solid #888;
  border-radius: 10px;
  padding: 50px;
}
.single-testimonial h2 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.tes-title {
  width: 39%;
}
.testimonials {
  width: 59%;
}
.client-name {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.profession {
  color: #888;
  font-weight: 600;
}
.quote-icon {
  position: absolute;
  right: 33%;
  top: 15%;
}
.client-info-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.client-info {
  display: flex;
}
.quote-icon svg {
  color: #dba632;
  font-size: 40px;
}
.client-img {
  margin-left: 25px;
}
.client-img img {
  height: 60px;
  width: 60px;
  border-radius: 50px;
}
/* ----------------- RESPONSIVE starts ----------- */
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
  .quote-icon {
    right: 20%;
  }
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
  .tes-title {
    width: 100%;
    text-align: center;
  }
  .testimonial-content {
    flex-direction: column;
  }
  .testimonials {
    width: 100%;
  }
  .single-testimonial {
    margin-top: 20px;
  }
  .single-testimonial h2 {
    font-size: 30px;
  }
  .quote-icon {
    right: 45%;
  }
}
/*SM Device*/
@media (min-width: 576px) and (max-width: 767px) {
  .tes-title {
    width: 100%;
    text-align: center;
  }
  .testimonial-content {
    flex-direction: column;
  }
  .testimonials {
    width: 100%;
  }
  .single-testimonial h2 {
    font-size: 26px;
  }
}
/* Mobile device */
@media (max-width: 575px) {
  .tes-title {
    width: 100%;
    text-align: center;
  }
  .testimonial-content {
    flex-direction: column;
  }
  .testimonials {
    width: 100%;
  }
  .single-testimonial h2 {
    font-size: 18px;
  }
  .quote-icon {
    position: absolute;
    right: 15%;
    top: 10%;
  }
  .quote-icon svg {
    font-size: 25px;
  }
  .client-name {
    font-size: 16px;
  }
  .client-info-rating {
    flex-direction: column;
    align-items: start;
  }
}
