.app-area {
  background: #f9f9f9;
  padding: 50px 0;
}
.app-area .container {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
}
.download-btn {
  display: flex;
  margin-top: 20px;
}
.download-btn img {
  /* width: 60%; */
  height: 60px;
  margin-right: 25px;
}
.app-img img {
  width: 100%;
}
.googlePlay {
  transition: 0.3s;
}
.googlePlay:hover {
  transform: translateY(-8px);
  transition: 0.3s;
}
.appleStore {
  transition: 0.3s;
}
.appleStore:hover {
  transform: translateY(-8px);
  transition: 0.3s;
}
