.single-banner {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 20px;
  width: 80%;
}
.banner-img {
  display: flex;
  position: relative;
  align-items: center;
  gap: 15px;
  margin-top: -50px;
  max-width: 620px;
  width: 100%;
  margin-right: 30px;
}
.second-img {
  position: absolute;
  left: 26%;
  top: -32%;
}
.fourth-img {
  position: absolute;
  left: 18%;
  top: 55%;
}
.banner-title {
  font-size: 80px;
  color: #fff;
}
.banner-text {
  color: #fff;
  font-size: 18px;
  margin: 20px 0 50px 0;
}
.banner-area .awssld__content {
  background-color: #002b40;
}
.banner-area .awssld {
  height: 100vh;
}
.banner-area .awssld__bullets {
  bottom: 20px;
  z-index: 2;
}
.banner-area .awssld__bullets button {
  background: #fff;
}
