.footer-content {
  padding: 50px 0px;
}
.footer-area h5 {
  color: #ff7f00;
  font-weight: 600;
  text-decoration: underline;
}
.footer-area p {
  color: #f6f6f6;
  text-align: justify;
}
.footer-area a {
  color: #c6c3bf;
  text-decoration: navajowhite;
  font-weight: 600;
}
.footer-area svg {
  margin-right: 8px;
}
.copyright-content p {
  color: #f6f6f6;
  text-align: justify;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}
.quick-links {
  padding-left: 150px;
}
.footer-social {
  padding-left: 100px;
}
.contact-us {
  padding-left: 100px;
}
.contact-us li {
  color: #c6c3bf;
}
@media only screen and (max-width: 576px) {
  .quick-links {
    padding-left: 100px;
  }
  .footer-about {
    padding: 0 100px;
  }
}
