/* @import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Miniver&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Miniver&family=Monoton&display=swap");
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: "Oleo Script Swash Caps", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif; */
}

body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
  transition: 0.3s;
}
ul {
  padding: 0 !important;
  margin: 0 !important;
}
li {
  list-style: none;
  transition: 0.3s;
  color: #5e5e5e;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
}
p {
  font-family: "Roboto", sans-serif;
  color: #888;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}
.text-gray {
  color: #888;
}
.text-white {
  color: #fff;
}
