.features-area {
  padding: 70px 0;
  background: #f9fafc;
}
.features-area .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.feature-part {
  display: flex;
}
.feature-count span {
  font-family: "Monoton", cursive;
  color: #f5c332;
  font-size: 42px;
  line-height: 36px;
  white-space: nowrap;
}
.feature-block {
  margin-left: 20px;
}
.feature-desc {
  text-align: justify;
}

/* ----------------- RESPONSIVE starts ----------- */
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
  .features-area .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*SM Device*/
@media (min-width: 576px) and (max-width: 767px) {
  .features-area .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* Mobile device */
@media (max-width: 575px) {
  .features-area .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
